.btn{
	margin-left: 2%;
	margin-right: 2%;
}

.nav-item{
	margin-left: 8%;
}

html{
	font: Arial;
}

body{
    background-image:    url(../img/padel.png);
    background-size:     contain;
}

th{
	text-align: center;
}

.header{
	margin: 0;
	height: 15%;
	background: #1abc9c;
}

.titulo{
	font-size: 40;
	margin-top: 0%;
}

.tituloColumna{
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.celda{
	text-align: center;
	border: 1px solid black;
	padding-top: 3;
	padding-bottom: 3;
	padding-left: 10;
	padding-right: 10;
}

.fila{
	
}

.mensaje{
	text-align: center;
}

.submit{
	margin-right: 10px;
	margin-left: 10px;
}

.detalle{
	margin-left: 15%;
	margin-top: 5%;
	width: 70%;
	height: 13%;
}

.formulario{
	margin-left: 15%;
	margin-top: 5%;
	width: 70%;
	height: 13%;
}

.formularioTd{
	width: 30%;
	text-align: center;
	font-weight: bold;
	padding: 15;
}

.trPar{
	background: #AAAAAA;
}

.trImpar{
	margin: 5px;
	background: #EEEEEE;
}

.botonHorario{
	colspan: 100%;
}

.pistaPadel{
	width: 100%;
}

.lineaPadel{
	width: 100%;
}

.pista{
	width: 75%;
}

.nombrePista{
	font-size: 27;
	text-align: center;
	padding: 4%;
}